body{
   
}
h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}
p {
    font-family: 'Lobster', cursive;
    text-align: center;
}
img {
    text-align: center;
}
